{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><b>{{ evidencia.titulo }}</b></h3>
            </div>
        </div>

        <div class="row text-center border-primary-a">
            <div class="col-md-6">
               <h4 class="">Porcentaje esperado: </h4>
                <h4>Porcentaje obtenido:</h4>
                <h4>Archivo de evidencia: </h4>
            </div>
            <div class="col-md-6">
                <h4>{{ evidencia.porcentaje_total }} %</h4>
                <h4 class="{% if evidencia.porcentaje_real <= 50 %} color-red {% else %} color-green {% endif %}">{{ evidencia.porcentaje_real }} %</h4>
                {% if evidencia.archivo %}
                    <a href="{{ evidencia.archivo.url }}" target="_blank"><h4>Ver o descargar archivo</h4></a>
                {% else %}
                    <h4>No hay evidencia</h4>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Sub - Evidencias</h3>
                {% if evidencia.subevidencias.count > 0 %}
                    <h2>Si hay evidencias</h2>
                {% else %}
                    <h3>Esta evidencia no tiene sub - evidencias </h3>
                {% endif %}
            </div>
        </div>




    </div>
{% endblock %}