{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h3><b>{{ indicador.indicador }}</b> {{ indicador.nombre }}</h3>
            </div>
        </div>
        <div class="row margin-top-middle">

            <div class="col-md-9 border-primary-a text-detail-important">
                <div class="row text-center">
                    <div class="col-md-6"><p>Status: <span
                            class="{% if indicador.status == "Satisfactorio" %}
                            color-green
                            {% elif indicador.status == "Regular" %}
                            color-yellow
                            {% else %}
                            color-red
                            {% endif %}
                            "><b>{{ indicador.status }}</b></span></p></div>
                    <div class="col-md-6"><p>Área: <span><b>{{ indicador.area.username }}</b></span></p></div>
                </div>
            {% if indicador.descripcion %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-detail-leve"><b>Descripción:</b></p>
                        <p class="text-detail-p-small">{{ indicador.descripcion }}</p>
                    </div>
                </div>
            {% endif %}

            {% if indicador.metodo_calculo %}
                 <div class="row">
                    <div class="col-md-12">
                        <p class="text-detail-leve"><b>Método de cálculo:</b></p>
                        <p class="text-detail-p-xsmall text-justify">{{ indicador.metodo_calculo }}</p>
                    </div>
                </div>
            {% endif %}
            {% if indicador.criterios_evaluacion %}
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-detail-leve"><b>Criterios de evaluación:</b></p>
                        <p class="text-detail-p-xsmall text-justify">{{ indicador.criterios_evaluacion }}</p>
                    </div>
                </div>
            {% endif %}

            </div>

            <div class="col-md-3 background-primary d-flex justify-content-around flex-column color-accent align-items-start">
                <div>
                    <h4 class="">Nivel:</h4>
                    <p class="text-center w-100">{{ indicador.nivel }}</p>
                </div>

                <div>
                    <h4 class="">Dimensión:</h4>
                    <p class="">{{ indicador.dimension }}</p>
                </div>

                <div>
                    <h4 class="">Fecha de registro:</h4>
                    <p class="">{{ indicador.created }} hrs</p>
                </div>

                <div>
                    <h4 class="">Fecha de actualización:</h4>
                    <p class="">{{ indicador.updated }} hrs</p>
                </div>


            </div>
        </div>

        <div class="row margin-top-middle">
            <div class="col-md-12 border-primary-a text-center margin-bottom-normal">
                <p class="text-detail-leve" style="font-size: 1.8em;"><b>Evidencias</b></p>

                {% if indicador.evidencia %}

                    <div class="margin-bottom-normal">
                        <a class="see_evidencia" target="_blank" href="/media/{{ indicador.evidencia }}">Visualizar o descargar archivo</a>
                    </div>
                    <p class="text-evidencia">Actualizar archivo</p>


                {% else %}

                    <p class="text-evidencia">Por favor, sube tus evidencias de este indicador en un archivo comprimido (.rar o .zip)</p>
                {% endif %}
                    <form action="{% url 'indicadores:detail' indicador.id  %}" method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}
                        <input class="btn btn-outline-primary margin-bottom-small" type="submit" value="Subir archivo">
                    </form>

            </div>

        </div>
    </div>
{% endblock %}
