{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav nav-tabs d-flex justify-content-start margin-bottom-small">
              <li class="nav-item">
                <a class="nav-link {% if tab == "all" %} active {% endif %}" href="{% url 'indicadores:list' %}">Todos
                <span class="badge badge-pill badge-dark">{{ total }}</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tab == "green" %} active {% endif %}" href="{% url 'indicadores:satisfactorio' %}">Satisfactorios
                <span class="badge badge-pill badge-dark">{{ verde }}</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tab == "yellow" %} active {% endif %}" href="{% url 'indicadores:regular' %}">Regulares
                <span class="badge badge-pill badge-dark">{{ amarillo }}</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tab == "red" %} active {% endif %}" href="{% url 'indicadores:pesimo' %}">Pésimos
                <span class="badge badge-pill badge-dark">{{ rojo }}</span></a>
              </li>
            </ul>
            </div>
            <div class="col-md-6">
                    {% if tab == "all" %}
                        <form action="{% url 'indicadores:list' %}"
                    {% elif tab == "green" %}
                        <form action="{% url 'indicadores:satisfactorio' %}"
                    {% elif tab == "yellow" %}
                        <form action="{% url 'indicadores:regular' %}"
                    {% else %}
                        <form action="{% url 'indicadores:pesimo' %}"
                    {% endif %}
                    method="get" class="d-flex flex-row">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar" name="q" value="{{ request.GET.q }}" aria-label="Nombre de Usuario" aria-describedby="basic-addon1" >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                   <input class="btn btn-outline-primary " type="submit" name="submit" value="Go">
                                </span>
                            </div>

                        </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    {% for indicador in indicadores %}

                        <a href="{{ indicador.get_absolute_url }}" class="list-group-item margin-bottom-small list-group-item-action flex-column aligm-items-start
                          {% if indicador.status == 'Satisfactorio' %}
                          green-hover
                          {% elif indicador.status == 'Regular' %}
                           yellow-hover
                            {% else %}
                            red-hover
                            {% endif %}">

                            <div class="d-flex justify-content-between">
                                <h5>{{ indicador }}</h5>
                                <small>{{ indicador.status }}</small>
                            </div>
                            <p>{{ indicador.descripcion }}</p>
                            <small> No. de evidencias: {{ indicador.evidencias.count }}</small>
                        </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}