/* styles commons */

.logo-img{
  width: 7vw;
  border-radius: 50%;
}

.background-primary{
  background: #76227c !important;
}

.color-accent{
  color: #fff !important;
}

.paddings-vertical{
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}

.margins-vertical{
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}

.error{
    background-color: maroon;
    color: #FFF;
}

.success{
    background-color: forestgreen;
    color: #FFFFFF;
}

.margin-bottom-small{
  margin-bottom: 2vh !important;
}

.margin-bottom-normal {
  margin-bottom: 5vh !important;
}

.margin-top-small{
  margin-top: 2vh !important;
}

.text-justify{
  text-align: justify;
}

.margin-top-middle{
  margin-top: 5vh;
}

.home-image{
  height: 50vh !important;
}

.dropdown-menu {
  left: 60% !important;
}

/* LOGIN */

.error-login{
  color: darkred;
  font-weight: bold;
}

.btn-outline-primary{
  color: #76227c;
  background: transparent none;
  border-color: #76227c;
}

.btn-outline-primary:hover{
  color: #fff;
  background-color: #76227c;
  border-color: #76227c;
}

.btn-outline-primary:active{
  color: #fff;
  background-color: #76227c;
  border-color: #76227c;
}


.icons-img{
  height: 20px;
  width: 20px;
}

.icons-img-small{
  height: 10px;
  width: 10px;
}


/* DASHBOARD */

.btn-outline{
  color: #fff;
  border-color: #FFFFFF;
}

.btn-outline:hover{
  color: #FFFFFF;
  font-size: 1.2em;
}

.cards-dashboards {
  height: 50vh;
  flex: 1;
  align-items: center;
}

.card-indicadores
{
  height: 25vh;
  color: #FFFFFF;
}

.card-indicadores > .card-body > .card-title
{
  color: #000;
  font-size: 2.5em;
  font-weight: bold;
}

.card-indicadores > .card-body > .card-text
{
  color: #000;
  font-size: 1.2em;
}

.green-back
{
  background-color: #2ecc71;
 /* border-color: #27ae60; */
}

.yellow-back
{
  background-color: #f1c40f;
 /* border-color: #f39c12;*/
}

.red-back
{
  background-color: #c0392b;
  /*border-color: darkred;*/
}


/* INDICADORES LIST */

.green-hover:hover {
  background-color: #2ecc71 !important;
  color: #fff;
}

.yellow-hover:hover {
  background-color: #f1c40f !important;
  color:#FFFFFF;
}

.red-hover:hover {
  background-color: #c0392b !important;
  color:#FFFFFF;
}

.active {
  background-color: #76227c !important;
  color: #FFFFFF !important;
}

.nav-item > a {
  color: #76227c !important;
}

.nav-item > a.active {
  color: #FFFFFF !important;
}

/* DETAIL */

.margin-left-small {
  margin-left: 5vw;
}

.border-primary-a {
  border-radius: 10px;
  border: 1px solid #76227c;
}

.color-green
{
  color: #2ecc71;
}

.color-yellow
{
  color: #f1c40f;
}

.evidencia-red
{
  background-color: #c0392b;
  color: #fff;
  display: inline-block;
}

.evidencia-green
{
  background-color: #2ecc71;
  color: #fff;
  display: inline-block;
}

.text-detail-important {
  font-size: 1.5em;
}

.text-detail-leve {
  font-size: 1.3em;
}

.text-detail-p-small {
  font-size: 0.8em;
}

.text-detail-p-xsmall {
  font-size: 0.7em;
}

.card-header {
  background-color: #76227c !important;
  text-transform: none;
}

.btn-link {
  color: #FFFFFF;
}

.btn-link:hover {
  color: #FFFFFF;
  font-weight: bold;
}

.anchor-color-primary {
  color: #76227c;
}

.anchor-color-primary:hover {
  color: #76227c;
  font-weight: bold;
  text-decoration: underline;
}