/* styles commons */

.logo-img{
  width: 7vw;
  border-radius: 50%;
}

.background-primary{
  background: #76227c !important;
}

.color-accent{
  color: #fff !important;
}

.paddings-vertical{
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}

.margins-vertical{
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}

.error{
    background-color: maroon;
    color: #FFF;
}

.success{
    background-color: forestgreen;
    color: #FFFFFF;
}

.margin-bottom-small{
  margin-bottom: 2vh !important;
}

.text-justify{
  text-align: justify;
}

.margin-top-middle{
  margin-top: 5vh;
}

.home-image{
  height: 50vh !important;
}

/* LOGIN */

.error-login{
  color: darkred;
  font-weight: bold;
}

.btn-outline-primary{
  color: #76227c;
  background-color: transparent;
  background-image: none;
  border-color: #76227c;
}

.btn-outline-primary:hover{
  color: #fff;
  background-color: #76227c;
  border-color: #76227c;
}


.icons-img{
  height: 20px;
  width: 20px;
}


/* DASHBOARD */

.btn-outline{
  color: #fff;
  border-color: #FFFFFF;
}

.btn-outline:hover{
  color: #FFFFFF;
  font-size: 1.2em;
}

.cards-dashboards {
  height: 50vh;
  flex: 1;
  align-items: center;
}

.card-indicadores
{
  height: 25vh;
  color: #FFFFFF;
}

.card-indicadores > .card-body > .card-title
{
  color: #000;
  font-size: 2.5em;
  font-weight: bold;
}

.card-indicadores > .card-body > .card-text
{
  color: #000;
  font-size: 1.2em;
}

.green-back
{
  background-color: #2ecc71;
 /* border-color: #27ae60; */
}

.yellow-back
{
  background-color: #f1c40f;
 /* border-color: #f39c12;*/
}

.red-back
{
  background-color: #c0392b;
  /*border-color: darkred;*/
}
