{% extends "base.html" %}
{% load static%}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<h3>Inicia sesión con el nombre de usuario y la contraseña asignada para tu área</h3>
				{% if form.errors %}
					<h4 class="error-login">Correo y/o contraseña incorrectos.</h4>
				{% endif %}
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<div class="input-group mb-3 input-group-lg margin-top-middle">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">
								<img src="{% static 'open-iconic/svg/person.svg' %}" class="icons-img">
							</span>
						</div>
						<input type="text" class="form-control" placeholder="Nombre de Usuario" aria-label="Nombre de Usuario" aria-describedby="basic-addon1" name="username">
					</div>

					<div class="input-group mb-3 input-group-lg margin-top-middle">
					  <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon2" name="password">
					  <div class="input-group-append">
					    <span class="input-group-text" id="basic-addon2"><img src=" {% static 'open-iconic/svg/key.svg' %} "class="icons-img"></span>
					  </div>
					</div>

					<div class="text-center margin-top-middle">
				        <input class="btn btn-outline-primary" type="submit" name="submit" value="Iniciar sesión">
				    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}