{% extends 'base.html' %}
{% load static %}
{% block content %}
     <div class="row">
            <div class="col-md-12 margin-bottom-small">
                <h2 class="text-center">Resumen general de indicadores</h2>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
              <thead class="background-primary color-accent" style="text-align: center">
                <tr>
                  <th scope="col" style="text-align: justify">Área</th>
                    <th scope="col">Total</th>
                  <th scope="col"># Satisfactorios</th>
                  <th scope="col"># Regulares</th>
                  <th scope="col"># Insatisfactorios</th>
                    <th scope="col"># NCS</th>
                </tr>
              </thead>
              <tbody style="text-align: center">
                {% for d in data %}
                    {% if d.total > 0 %}
                        <tr>
                            <th scope="row" style="text-align: justify">{{ d.usuario }}</th>
                            <td>{{ d.total }}</td>
                            <td>{{ d.verdes }}</td>
                            <td>{{ d.amarillos }}</td>
                            <td>{{ d.rojos }}</td>
                            <td>{{ d.ncs }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
    <div class="row cards-dashboards">
            <div class="col-md-3 text-center">
               <div class="card card-indicadores">
                   <div class="card-body d-flex flex-column justify-content-around">
                       <div class="card-title">{{ total }} </div>
                       <div class="card-text">Total</div>
                   </div>
               </div>
            </div>

            <div class="col-md-3 text-center">
               <div class="card card-indicadores green-back">
                   <div class="card-body d-flex flex-column justify-content-around">
                       <div class="card-title">{{ verde }} </div>
                       <div class="card-text">Satisfactorios</div>
                   </div>
               </div>
            </div>

            <div class="col-md-3 text-center">
               <div class="card card-indicadores yellow-back">
                   <div class="card-body d-flex flex-column justify-content-around">
                       <div class="card-title">{{ amarillo }} </div>
                       <div class="card-text">Regulares</div>
                   </div>
               </div>
            </div>
             <div class="col-md-3 text-center">
                   <div class="card card-indicadores red-back">
                       <div class="card-body d-flex flex-column justify-content-around">
                           <div class="card-title">{{ rojo }} </div>
                           <div class="card-text">Insatisfactorios</div>
                       </div>
                   </div>
                </div>
    </div>
{% endblock %}