{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INAFED Indicadores</title>
    <!-- Styles CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="{% static '/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">
    <!-- Own Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light background-primary justify-content-around" style="max-height:80px !important;">
     <div class="col-lg-4 text-right">
        <div class="dropdown">
          <a class="btn dropdown-toggle color-accent" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Indicadores
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center">
        <img src="{%static 'images/logo.jpg'%}" alt="Gobierno de la gente" class="logo-img">
      </div>
      {% if request.user.is_authenticated %}
        <div class="col-md-2 text-left">
          <a class="btn color-accent" href="">{{ request.user.username }}</a>
        </div>
        <div class="col-md-2 text-left">
          <a class="btn color-accent" href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
      {% else %}
        <div class="col-md-4 text-left">
          <a class="btn color-accent" href="{% url 'login' %}">Iniciar sesión</a>
        </div>
      {% endif %}
      
    </div>
    </nav>
    <!-- End navbar -->
    <div class="container paddings-vertical">
      {% block content %}

      {% endblock content %}
    </div>
  </body>
  <!-- Scripts -->
  <!-- Boostrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
